body {
  background-color: #061727;
}

.notes {
  margin: 40px auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.notes h1 {
  text-align: center;
  font-size: 38px;
}